<div class="hidden-container nested-fields shadow rounded">
  <div class="form-group hidden-field">
    <%= f.label :site_name, class: "head-small" %>
    <%= f.text_field :site_name, class: 'form-control' %>
  </div>
  <div class="form-group hidden-field">
    <%= f.label :location, class: "head-small" %>
    <%= f.text_field :location, class: 'form-control' %>
  </div>
  <div class="form-group hidden-field">
    <%= f.label :property_count, class: "head-small" %>
    <%= f.text_field :property_count, class: 'form-control' %>
  </div>
  <div class="form-group hidden-field">
    <%= f.label :site_type, class: "head-small" %>
    <%= f.text_field :site_type, class: 'form-control' %>
  </div>
  <div class="form-group hidden-field">
    <%= link_to_remove_association 'Delete Row', f, class: "delete-row" %>
  </div>
</div></br>
