<div class="hidden-container nested-fields shadow rounded">
  <div class="form-group hidden-field">
    <label class="head-small-low">Is sufficient information available to complete the Triage evaluation?</label>
    <%= f.text_field :summary_1, class: 'form-control text-field-sm' %>
  </div>
  <div class="form-group hidden-field">
    <label class="head-small-low">Is flooding in the catchment likely to be increased by the new development?</label>
    <%= f.text_field :summary_2, class: 'form-control text-field-sm' %>
  </div>
  <div class="form-group hidden-field">
    <label class="head-small-low">Is the proposed development likely to have a detrimental impact on any overflows within the catchment?</label>
    <%= f.text_field :summary_3, class: 'form-control text-field-sm' %>
  </div>
  <div class="form-group hidden-field">
    <label class="head-small-low">Is there a risk of new flooding imposed by the new development?</label>
    <%= f.text_field :summary_4, class: 'form-control text-field-sm' %>
  </div>
  <div class="form-group hidden-field">
    <label class="head-small-low">Is there a risk of overland flooding affecting the development location?</label>
    <%= f.text_field :summary_5, class: 'form-control text-field-sm' %>
  </div>
  <div class="form-group hidden-field">
    <label class="head-small-low">Is the available information sufficient to complete a full modelling assessment?</label>
    <%= f.text_field :summary_6, class: 'form-control text-field-sm' %>
  </div>
</div></br>