<div class="hidden-container nested-fields shadow rounded">
  <div class="form-group hidden-field">
    <label class="head-small-low">Model Type (I, II, III)</label>
    <%= f.text_area :model_type, class: 'form-control text-area-sm' %>
  </div>
  <div class="form-group hidden-field">
    <label class="head-small-low">Subcatchment Review</label>
    <%= f.text_area :subcatchment_review, class: 'form-control text-area-sm' %>
  </div>
  <div class="form-group hidden-field">
    <label class="head-small-low">Contributing Areas</label>
    <%= f.text_area :contributing_areas, class: 'form-control text-area-sm' %>
  </div>
  <div class="form-group hidden-field">
    <label class="head-small-low">Flooding Representation</label>
    <%= f.text_area :flooding_representation, class: 'form-control text-area-sm' %>
  </div>
  <div class="form-group hidden-field">
    <label class="head-small-low">Soil Type</label>
    <%= f.text_area :soil_type, class: 'form-control text-area-sm' %>
  </div>
  <div class="form-group hidden-field">
    <label class="head-small-low">Runoff Model</label>
    <%= f.text_area :runoff_model, class: 'form-control text-area-sm' %>
  </div>
  <div class="form-group hidden-field">
    <label class="head-small-low">Sewer Ancillaries – WwTW</label>
    <%= f.text_area :ancillaries_wwtw, class: 'form-control text-area-sm' %>
  </div>
  <div class="form-group hidden-field">
    <label class="head-small-low">Sewer Ancillaries – CSO’s</label>
    <%= f.text_area :ancillaries_cso, class: 'form-control text-area-sm' %>
  </div>
  <div class="form-group hidden-field">
    <label class="head-small-low">Sewer Ancillaries - Tanks</label>
    <%= f.text_area :ancillaries_tanks, class: 'form-control text-area-sm' %>
  </div>
  <div class="form-group hidden-field">
    <label class="head-small-low">Sewer Ancillaries – Pumping Stations</label>
    <%= f.text_area :ancillaries_pumps, class: 'form-control text-area-sm' %>
  </div>
  <div class="form-group hidden-field">
    <label class="head-small-low">FEH Rainfall Data</label>
    <%= f.text_area :rainfall_data, class: 'form-control text-area-sm' %>
  </div>
  <div class="form-group hidden-field">
    <label class="head-small-low">Is model update required prior to undertaking a full DIA assessment?</label>
    <%= f.text_area :model_update, class: 'form-control text-area-sm' %>
  </div>
  <div class="form-group hidden-field">
    <label class="head-small-low">Is the current model deemed suitable to undertake a full DIA?</label>
    <%= f.text_area :model_suitable, class: 'form-control text-area-sm' %>
  </div>
</div>