<div class= "form-container">
  <%= render 'progress' %>
  <div class="heading">
  <%= render 'steps' %>
    <h2 class="head-large">Catchment Details</h2>
  </div>

  <%= form_for @report, url: report_report_wizard_path, method: :put do |f| %>
    <div class="text-container">
      <label class="head-small" style="text-align: center;">Flooding Locations And Incidents</label></br>
      <%= f.rich_text_area :flooding_locations, class: "form-control text-area-sm" %>
    </div>
    <div>
      <%= f.fields_for :incidents do |incident_form| %>
        <div class="rows-container">
          <%= render 'incident_fields', f: incidents %>
        </div>
      <% end %>
    </div>
    <div class="row-buttons">
      <div>
        <%= link_to_add_association 'Add Row To Incidents Table', f, :incidents, class: "btn-reserved", style: "background-color: #262626; border: none; color: #fff; float: right;" %>
      </div>
    <div></br></br></br>

    <div class="text-container">
      <label class="head-small" style="text-align: center;">Cellared Properties</label></br>
      <%= f.rich_text_area :cellared_property, class: "form-control text-area-sm" %>
    </div>
    <div>
      <%= f.fields_for :cellars do |cellar_form| %>
        <div class="rows-container">
          <%= render 'incident_fields', f: cellars %>
        </div>
      <% end %>
    </div>
    <div class="row-buttons">
      <div>
        <%= link_to_add_association 'Add Row To Cellars Table', f, :cellars, class: "btn-reserved", style: "background-color: #262626; border: none; color: #fff; float: right;" %>
      </div>
    <div></br></br></br>

    <div class="text-container">
      <label class="head-small" style="text-align: center;">Catchment Overflows</label></br>
      <%= f.rich_text_area :catchment_overflow, class: "form-control text-area-sm" %>
    </div>
    <div>
      <%= f.fields_for :overflows do |overflow_form| %>
        <div class="rows-container">
          <%= render 'overflow_fields', f: overflows %>
        </div>
      <% end %>
    </div>
    <div class="row-buttons">
      <div>
        <%= link_to_add_association "Add Row To CSO's Table", f, :overflows, class: "btn-reserved", style: "background-color: #262626; border: none; color: #fff; float: right;" %>
      </div>
    <div></br></br></br>

    <div class="text-container">
      <label class="head-small" style="text-align: center;">Pumping Stations</label></br>
      <%= f.rich_text_area :pumping_station, class: "form-control text-area-sm" %>
    </div>
    <div>
      <%= f.fields_for :pumps do |pump_form| %>
        <div class="rows-container">
          <%= render 'pump_fields', f: pumps %>
        </div>
      <% end %>
    </div>
    <div class="row-buttons">
      <div>
        <%= link_to_add_association "Add Row To Pumping Stations Table", f, :pumps, class: "btn-reserved", style: "background-color: #262626; border: none; color: #fff; float: right;" %>
        <div>
          <%= f.submit "Save Changes", class: "btn-reserved", style: "background-color: #262626; border: none; color: #fff; float: left;"%>
        </div>
      </div>
    <div>

  <% end %>

  <div class="nav-field">
    <%= render 'navigation_fields' %>
  </div>

</div>