<div class= "form-container">
  <%= render 'progress' %>
  <div class="heading">
    <%= render 'steps' %>
    <h2 class="head-large">Conclusion</h2>
  </div>

  <%= render layout: 'text_area' do |f| %>
      <%= f.rich_text_area :conclusion, class: "text-area" %>
  <% end %></br></br>
 
  <%= render 'navigation_fields' %>
</div>