<div class= "form-container">
  <%= render 'progress' %>
  <div class="heading">
    <%= render 'steps' %> 
    <h2 class="head-large">Data Assessment</h2>
  </div>
  <%= form_for @report, url: report_report_wizard_path, method: :put do |f| %>
    <div class="text-container">
      <%= f.rich_text_area :data_assessment, class: "form-control text-area" %>
    </div></br>

    <h3 class="head-md-dark">Model Fit For Purpose (FFP) Review</h3></br>
    <div>
      <%= f.fields_for :model_databases do |database_form| %>
        <div class="hidden-container nested-fields shadow rounded">
        <div class="form-group hidden-field">
          <label class="head-small-low">Model Type (I, II, III)</label>
          <%= database_form.text_area :model_type, class: 'form-control text-area-sm' %>
        </div>
        <div class="form-group hidden-field">
          <label class="head-small-low">Subcatchment Review</label>
          <%= database_form.text_area :subcatchment_review, class: 'form-control text-area-sm' %>
        </div>
        <div class="form-group hidden-field">
          <label class="head-small-low">Contributing Areas</label>
          <%= database_form.text_area :contributing_areas, class: 'form-control text-area-sm' %>
        </div>
        <div class="form-group hidden-field">
          <label class="head-small-low">Flooding Representation</label>
          <%= database_form.text_area :flooding_representation, class: 'form-control text-area-sm' %>
        </div>
        <div class="form-group hidden-field">
          <label class="head-small-low">Soil Type</label>
          <%= database_form.text_area :soil_type, class: 'form-control text-area-sm' %>
        </div>
        <div class="form-group hidden-field">
          <label class="head-small-low">Runoff Model</label>
          <%= database_form.text_area :runoff_model, class: 'form-control text-area-sm' %>
        </div>
        <div class="form-group hidden-field">
          <label class="head-small-low">Sewer Ancillaries – WwTW</label>
          <%= database_form.text_area :ancillaries_wwtw, class: 'form-control text-area-sm' %>
        </div>
        <div class="form-group hidden-field">
          <label class="head-small-low">Sewer Ancillaries – CSO’s</label>
          <%= database_form.text_area :ancillaries_cso, class: 'form-control text-area-sm' %>
        </div>
        <div class="form-group hidden-field">
          <label class="head-small-low">Sewer Ancillaries - Tanks</label>
          <%= database_form.text_area :ancillaries_tanks, class: 'form-control text-area-sm' %>
        </div>
        <div class="form-group hidden-field">
          <label class="head-small-low">Sewer Ancillaries – Pumping Stations</label>
          <%= database_form.text_area :ancillaries_pumps, class: 'form-control text-area-sm' %>
        </div>
        <div class="form-group hidden-field">
          <label class="head-small-low">FEH Rainfall Data</label>
          <%= database_form.text_area :rainfall_data, class: 'form-control text-area-sm' %>
        </div>
        <div class="form-group hidden-field">
          <label class="head-small-low">Is model update required prior to undertaking a full DIA assessment?</label>
          <%= database_form.text_area :model_update, class: 'form-control text-area-sm' %>
        </div>
        <div class="form-group hidden-field">
          <label class="head-small-low">Is the current model deemed suitable to undertake a full DIA?</label>
          <%= database_form.text_area :model_suitable, class: 'form-control text-area-sm' %>
        </div>
      </div>
      <% end %>
    </div></br></br>

    <h3 class="head-md-dark">Database Summary</h3></br>
    <div>
      <%= f.fields_for :data_summaries do |summary_form| %>
        <div class="hidden-container nested-fields shadow rounded">
        <div class="form-group hidden-field">
          <label class="head-small-low">Is sufficient information available to complete the Triage evaluation?</label>
          <%= summary_form.text_field :summary_1, class: 'form-control text-field-sm' %>
        </div>
        <div class="form-group hidden-field">
          <label class="head-small-low">Is flooding in the catchment likely to be increased by the new development?</label>
          <%= summary_form.text_field :summary_2, class: 'form-control text-field-sm' %>
        </div>
        <div class="form-group hidden-field">
          <label class="head-small-low">Is the proposed development likely to have a detrimental impact on any overflows within the catchment?</label>
          <%= summary_form.text_field :summary_3, class: 'form-control text-field-sm' %>
        </div>
        <div class="form-group hidden-field">
          <label class="head-small-low">Is there a risk of new flooding imposed by the new development?</label>
          <%= summary_form.text_field :summary_4, class: 'form-control text-field-sm' %>
        </div>
        <div class="form-group hidden-field">
          <label class="head-small-low">Is there a risk of overland flooding affecting the development location?</label>
          <%= summary_form.text_field :summary_5, class: 'form-control text-field-sm' %>
        </div>
        <div class="form-group hidden-field">
          <label class="head-small-low">Is the available information sufficient to complete a full modelling assessment?</label>
          <%= summary_form.text_field :summary_6, class: 'form-control text-field-sm' %>
        </div>
      </div></br>
      <% end %>
    </div></br>

    <h3 class="head-md-dark">Summary of Data Gathered</h3>
    <div>
      <%= f.fields_for :data_sources do |source_form| %>
        <div class="rows-container">
          <%= render 'data_source_fields', f: source_form %>
        </div>
      <% end %>
    </div>
    
    <div class="row-buttons">
      <div>
        <%= link_to_add_association 'Add Row to Data Gathered Table', f, :data_sources, class: "btn-reserved", style: "background-color: #262626; border: none; color: #fff; float: right;" %>
        <div>
          <%= f.submit "Save Changes" , class: "btn-reserved", style: "background-color: #262626; border: none; color: #fff; float: left;"%>
        </div>
      </div>
    <div>
  <% end %>

  <div class="nav-field">
    <%= render 'navigation_fields' %>
  </div>

</div>