<div class= "form-container">
  <%= render 'progress' %>
  <div class="heading">
    <%= render 'steps' %>
    <h2 class="head-large">Executive Summary</h2>
  </div>

  <%= form_for @report, url: report_report_wizard_path, method: :put do |f| %>
    <div class="text-container">
      <%= f.rich_text_area :executive_summary, class: "form-control text-area" %>
    </div>

    <div>
      <%= f.fields_for :executive_attributes, @report.executive do |executive_form| %>
        <div class="rows-container">
          <%= render 'executive_fields', f: executive_form %>
        </div>
      <% end %>
    </div>
    
    <div class="row-buttons">
      <div>
        <%= f.submit "Save Changes" , class: "btn-reserved", style: "background-color: #262626; border: none; color: #fff; float: left;"%>
      </div>
    <div>
    
  <% end %>
  <div class="nav-field">
    <%= render 'navigation_fields' %>
  </div>

</div>