<div class="form-container">
  <div class="progress">
    <div class="progress-bar" style="width: <%= @progress %>%"></div>
  </div>
  <div class="heading">
    <div class="steps">
      <%= wizard_steps.index(step) + 1 %>/
      <%= wizard_steps.count %>
    </div>
    <div>
      <h2 class="head-large">Project Information</h2>
    </div>
  </div>

  <%= @report.project_information %>

  <%= form_for @report, url:report_report_wizard_path, method: :put do |form| %>
    <% if @report.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>
  
        <ul>
          <% @report.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :project_information %>
      <%= form.text_field :project_information %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  

  <hr style="height: .1rem; background-color: #262626; width:100%;">
  
    <div class="actions nav-right">
      <%= link_to next_wizard_path, class: "btn btn-inverse" do %>
        <div><i class="fas fa-angle-double-right"></i></i></div>
      <% end %>
    </div>
</div>