<div class= "form-container">
  <%= render 'progress' %>
  <div class="heading">
    <%= render 'steps' %> 
    <h2 class="head-large">Project Background</h2>
  </div>
  <%= form_for @report, url: report_report_wizard_path, method: :put do |f| %>
    <div class="text-container">
      <%= f.rich_text_area :project_background, class: "form-control text-area" %>
    </div>

    <div>
      <%= f.fields_for :backgrounds do |background_form| %>
        <div class="rows-container">
          <%= render 'background_fields', f: background_form %>
        </div>
      <% end %>
    </div>
    
    <div class="row-buttons">
      <div>
        <%= link_to_add_association 'Add Table Row', f, :backgrounds, class: "btn-reserved", style: "background-color: #262626; border: none; color: #fff; float: right;" %>
      </div>
      <div>
        <%= f.submit "Save Changes" , class: "btn-reserved", style: "background-color: #262626; border: none; color: #fff; float: left;"%>
      </div>
    <div>
  <% end %>

  <div class="nav-field">
    <%= render 'navigation_fields' %>
  </div>

</div>