<div class= "form-container">
  <%= render 'progress' %>
  <div class="heading">
    <%= render 'steps' %>
    <h2 class="head-large">Project Objective</h2>
  </div>

  <%= render layout: 'text_area' do |f| %>
    <%= f.rich_text_area :project_objective, class: "text-area" %>
  <% end %>

  <%= render 'navigation_fields' %>
</div>