<div class="container">
  <div class="mx-auto col-md-6 card-box">
      <div class="card">
          <div class="card-header mx-auto">
            <strong>Please sign up for a new account</strong>
          </div>

          <div class="card-body">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render 'devise/shared/messages' %>
              <div class="form-item form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, class: "form-control" %>
              </div>

              <div class="form-item form-group">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
              </div> 

              <div class="form-item form-group">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
              </div>

              <div class="actions">
                <%= f.submit "Sign up", class: "btn" %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>
          </div>
      </div>
    </div>
</div>