<div class="form-container">
  <div class="progress">
    <div class="progress-bar" style="width: <%= @progress %>%"></div>
  </div>
  <div class="heading">
    <div class="steps">
      <%= wizard_steps.index(step) + 1 %>/
      <%= wizard_steps.count %>
    </div>
    <div>
      <h2 class="head-large">Project Information</h2>
    </div>
  </div>
  <%= form_with(model: report) do |form| %>
    <% if report.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>
        <ul>
          <% report.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field form-field">
      <%= form.label :project_name, class: "head-small form-label" %>
      <%= form.text_field :project_name, class: "form-input" %>
    </div>
  
    <div class="field form-field">
      <%= form.label :project_number, class: "head-small form-label" %>
      <%= form.text_field :project_number, class: "form-input" %>
    </div>
  
    <div class="field form-field">
      <%= form.label :document_title, class: "head-small form-label" %>
      <%= form.text_field :document_title, class: "form-input" %>
    </div>
  
    <div class="field form-field">
      <%= form.label :document_number, class: "head-small form-label" %>
      <%= form.text_field :document_number, class: "form-input" %>
    </div>
  
    <div class="field form-field">
      <%= form.label :document_status, class: "head-small form-label" %>
      <%= form.text_field :document_status, class: "form-input" %>
    </div>
  
    <div class="field form-field">
      <%= form.label :date, class: "head-small form-label" %>
      <%= form.text_field :date, class: "form-input" %>
    </div>
  
    <div class="field form-field">
      <%= form.label :client_name, class: "head-small form-label" %>
      <%= form.text_field :client_name, class: "form-input" %>
    </div>
  
    <div class="field form-field">
      <%= form.label :client_number, class: "head-small form-label" %>
      <%= form.text_field :client_number, class: "form-input" %>
    </div>
  
    <div class="field form-field">
      <%= form.label :project_manager, class: "head-small form-label" %>
      <%= form.text_field :project_manager, class: "form-input" %>
    </div>
  
    <div class="field form-field">
      <%= form.label :checked_by, class: "head-small form-label" %>
      <%= form.text_field :checked_by, class: "form-input" %>
    </div>
  
    <div class="field form-field">
      <%= form.label :approved_by, class: "head-small form-label" %>
      <%= form.text_field :approved_by, class: "form-input" %>
    </div>
  
    <div class="field form-field">
      <%= form.label :revision_number, class: "head-small form-label" %>
      <%= form.text_field :revision_number, class: "form-input" %>
    </div>
  
    <div class="field form-field">
      <%= form.label :description, class: "head-small form-label" %>
      <%= form.text_area :description, class: "form-input description" %>
    </div></br>
  
    <hr style="height: .1rem; background-color: #262626; width:100%;">
    
    <div class="navi-btn">
      <div class="actions">
        
      </div>
      <div class="actions">
        <%= form.submit "Next", class: "btn btn-inverse" %>
      </div>
    </div>
  <% end %>

  <hr style="height: .1rem; background-color: #262626; width:100%;">
  
    <div class="actions nav-right">
      <%= link_to next_wizard_path, class: "btn btn-inverse" do %>
        <div><i class="fas fa-angle-double-right"></i></i></div>
      <% end %>
    </div>
</div>