<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Project number</th>
      <th>Project name</th>
      <th>Client name</th>
      <th>Document title</th>
      <th>Document number</th>
      <th>Revision number</th>
      <th>Client reference</th>
      <th>Revision date</th>
      <th>Project manager</th>
      <th>Prepared by</th>
      <th>Approved by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.user_id %></td>
        <td><%= project.project_number %></td>
        <td><%= project.project_name %></td>
        <td><%= project.client_name %></td>
        <td><%= project.document_title %></td>
        <td><%= project.document_number %></td>
        <td><%= project.revision_number %></td>
        <td><%= project.client_reference %></td>
        <td><%= project.revision_date %></td>
        <td><%= project.project_manager %></td>
        <td><%= project.prepared_by %></td>
        <td><%= project.approved_by %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
