<p id="notice"><%= notice %></p>

<p>
  <strong>Project name:</strong>
  <%= @project_information.project_name %>
</p>

<p>
  <strong>Project number:</strong>
  <%= @project_information.project_number %>
</p>

<p>
  <strong>Document title:</strong>
  <%= @project_information.document_title %>
</p>

<p>
  <strong>Document status:</strong>
  <%= @project_information.document_status %>
</p>

<p>
  <strong>Date:</strong>
  <%= @project_information.date %>
</p>

<p>
  <strong>Client name:</strong>
  <%= @project_information.client_name %>
</p>

<p>
  <strong>Client number:</strong>
  <%= @project_information.client_number %>
</p>

<p>
  <strong>Project manager:</strong>
  <%= @project_information.project_manager %>
</p>

<p>
  <strong>Author:</strong>
  <%= @project_information.author %>
</p>

<p>
  <strong>Report:</strong>
  <%= @project_information.report_id %>
</p>

<%= link_to 'Edit', edit_project_information_path(@project_information) %> |
<%= link_to 'Back', project_informations_path %>
