<div class="container">
  <div class="mx-auto col-md-9 card-box">
    <div class="card">
        <div class="card-header mx-auto">
            <strong>Please log into your account</strong>
        </div>

        <div class="card-body">
            <%= form_for(resource, as: resource_name, url: user_session_path) do |f| %>
              <%= render 'devise/shared/messages' %>
              <div class="form-item form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, class: "form-control" %>
              </div>

              <div class="form-item form-group">
                <%= f.label :password %><br/>
                <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
              </div> 

              <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
              </div></br>
              <% end -%>

              <div class="button actions">
                <%= f.submit "Login", class: "btn" %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
