<div class= "form-container">
  <%= form_for @report do |form| %>
    <% if @report.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

        <ul>
          <% @report.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="field">
      <%= form.fields_for :project_informations do |f| %>
        <%= render 'project_information_fields', f: f %>
      <% end %>
    </div>

    <%= render 'executive_summary', form: form %>

  <% end %>
</div>
