<div class= "form-container">
  <%= form_for @report do |f| %>
    <% if @report.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>
        <ul>
          <% @report.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="heading">
      <h2 class="head-small">Project Name</h2>
    </div>

    <div class="field form-field">
      <%= f.text_field :project_name, class: "form-input", placeholder: "Please enter project name here", style: "width: 100%;" %>
    </div>
    
    <hr style="height: .1rem; background-color: #262626; width:100%;">

    <%= button_tag type: 'submit', class: "btn btn-inverse nav-right", id: "creat-button" do %>
      <i class="fas fa-angle-double-right"></i>
    <% end %>

  <% end %>
</div>
