<div class="container">
  <div class="form-inline">
    <%= search_form_for @q do |f| %>
      <%= f.search_field :document_title_cont, placeholder: 'title', class: "search-input" %>
      <%= f.submit class: "btn-reserved" %>
    <% end %>
    <div class="ml-2" style="padding-top: 1rem;">
      <%= link_to users_path, class: "btn btn-sm btn-inverse" do %>
        <i class="fa fa-sync"></i>
      <% end %>
    </div>
  </div>
  </br>
  <div class="table responsive">
  <table class="table table-bordered table-striped table-sm">
    <thead>
      <tr>
        <th>Document Title</th>
        <th>Originator</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= report.document_title %></td>
          <td><%= report.author %></td>
          <td><%= report.date %></td>
          <td>
            <div class="actions">
              <div>
                <%= link_to 'Show', report,  class: "report-action" %>
              </div>
              <div>
                <%= link_to 'Edit', report_report_wizard_index_path(report), class: "report-action" %>
              </div>
              <div>
                <%= link_to 'Delete', report, method: :delete, data: { confirm: 'Are you sure?' }, class: "report-action" %>
              </div>
            </div>
          </td>
        </tr>  
      <% end %>
    </tbody>
  </table>
  </div>
</div>