<div class="hamburger-menu">
  <i class="fa fa-bars"></i>
  <i class="fa fa-times"></i>
</div>

<nav class="sidebar">
  <div class="sidebar-list">
    <div class="sidebar-item">
      <a href="#title-block" class="sidebar-link">Project Information</a>
    </div>
    <div class="sidebar-item">
      <a href="#executive" class="sidebar-link">Executive Summary</a>
    </div>
    <div class="sidebar-item">
      <a href="#project-background" class="sidebar-link">Project Background</a>
    </div>
    <div class="sidebar-item">
      <a href="#project-objective" class="sidebar-link">Project Objective</a>
    </div>
    <div class="sidebar-item">
      <a href="#project-development" class="sidebar-link">Proposed Developments</a>
    </div>

    <button class="accordion">Catchment Details</button>
    <div class="panel">
      <div class="sidebar-item-sub">
        <a href="#flood-location" class="sidebar-link-sub">Flooding Locations and Incidents</a>
      </div>
      <div class="sidebar-item-sub">
        <a href="#cellared-properties" class="sidebar-link-sub">Cellared Properties</a>
      </div>
      <div class="sidebar-item-sub">
        <a href="#catchment-overflows" class="sidebar-link-sub">Catchment Overflows</a>
      </div>
      <div class="sidebar-item-sub">
        <a href="#pumping-stations" class="sidebar-link-sub">Pumping Stations</a>
      </div>
      <div class="sidebar-item-sub">
        <a href="#catchment-tanks" class="sidebar-link-sub">Catchment Tanks</a>
      </div>
    </div>
    <button class="accordion">Data Assessment</button>
    <div class="panel">
      <div class="sidebar-item-sub">
        <a href="#model-database" class="sidebar-link-sub">Model Database</a>
      </div>
      <div class="sidebar-item-sub">
        <a href="#data-summary" class="sidebar-link-sub" style="height: 5rem;">Data Summary</a>
      </div>
    </div>
    <div class="sidebar-item">
      <a href="#project-development" class="sidebar-link">Conclusions</a>
    </div>
    <button class="accordion">Appendix</button>
    <div class="panel">
      <div class="sidebar-item-sub">
        <a href="#fig1" class="sidebar-link-sub">Development Sites</a>
      </div>
      <div class="sidebar-item-sub">
        <a href="#fig2" class="sidebar-link-sub">Flood Locations</a>
      </div>
      <div class="sidebar-item-sub">
        <a href="#fig3" class="sidebar-link-sub">Ancillary Locations</a>
      </div>
      <div class="sidebar-item-sub">
        <a href="#fig4" class="sidebar-link-sub">2D Overland Flooding</a>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-item"><%= link_to 'Update', "#", class: "btn" %></div>
    <div class="footer-item"><%= link_to 'Delete', "#", class: "btn" %></div>
  </div>
</nav>

<main class="main">
  <section class="title-block" id="title-block">
    <h2><%= @report.project_name %></h2><br/>
    <h4><%= @report.document_title %></h4><br/>
    <h4><%= @report.document_number %> | <%= @report.revision %> </h4><br/>
    <h4><%= @report.date %></h4><br/>
    <h4><%= @report.client_name %></h4><br/>
    <h4><%= @report.client_number%></h4><br/>
    <div class="logo">
      <%= image_tag 'logo.png', class: "logo-image" %>
    </div>
  </section>

  <section class="hero">
    <%= image_tag 'bg.png', class: "hero-image" %>
  </section>

  <section class="project-info">
  <div class="report-container">
    <h2><%= @report.project_name %></h2><br/>
    <h4><pre>Project Number:    <%= @report.project_number %></pre></h4>
    <h4><pre>Document Title:    <%= @report.document_title %></pre></h4>
    <h4><pre>Document Number:   <%= @report.document_number %></pre></h4>
    <h4><pre>Document Status:   <%= @report.document_status %></pre></h4>
    <h4><pre>Date:              <%= @report.date %></pre></h4>
    <h4><pre>Client Name:       <%= @report.client_name %></pre></h4>
    <h4><pre>Client Number:     <%= @report.client_number%></pre></h4>
    <h4><pre>Project Manager:   <%= @report.project_manager%></pre></h4>
    <h4><pre>Author:            <%= @report.author%></pre></h4>
  </div><br/>

  <div class="report-container">
    <span>Jacobs Consultancy Ltd.</span><br/>
    <span>5 First Street</span><br/>
    <span>Manchester M15 4GU</span><br/>
    <span>United Kingdom</span><br/>
    <span>T +44 (0)161 235 6000</span><br/>
    <span>F +44 (0)161 235 6001</span><br/>
    <span class="website">www.jacobs.com</span>
  </div><br/><br/>

  <div class="report-container">
    <span>Document history and status</span>
    <div class="project-table" id="project-table">
      <div>
        <table>
          <thead>
            <tr>
              <td>Revision</td>
              <td>Date</td>
              <td>Desciption</td>
              <td>Author</td>
              <td>Checked</td>
              <td>Reviewed</td>
              <td>Approved</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @report.revision %></td>
              <td><%= @report.date %></td>
              <td><%= @report.description %></td>
              <td><%= @report.author %></td>
              <td><%= @report.checked_by %></td>
              <td><%= @report.approved_by %></td>
              <td><%= @report.project_manager %></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<section class="executive" id="executive">
  <div class="report-container">
    <h5 class="section-head-large">Executive Summary</h5></br>
    <div class="project-table">
      <table>
        <thead>
          <tr>
            <td>Project Name</td>
            <td>Jacobs Project Number</td>
            <td>Potential Impact</td>
            <td>Date</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @report.executive.project_name %></td>
            <td><%= @report.executive.project_number %></td>
            <td><%= @report.executive.potential_impact %></td>
            <td><%= @report.executive.date %></td>
          </tr>                
        </tbody>
      </table>
    </div><br/>
    <div>

      <p class="summary">
        <%= @report.executive_summary %>
      </p>
    </div>
    
  </div>
</section>

<section class="project-background" id="project-background">
<div class="report-container">
  <h5 class="section-head-large">Project Background</h5></br>
  <p class="summary">
    <%= @report.background_intro %>
  </p>
  </br>
  <span class="table-name">Table 1.1 – Development Location</span>
  <div class="project-table">
    <table>
      <thead>
        <tr>
          <td>Site Name</td>
          <td>Location</td>
          <td>Property Count</td>
          <td>Site Type</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @report.background.site_name %></td>
          <td><%= @report.background.location %></td>
          <td><%= @report.background.property_count %></td>
          <td><%= @report.background.site_type %></td>
        </tr>
      </tbody>
    </table>
  </div></br>
    <p><%= @report.project_background %></p>
</div>
</section>

</main>