<p id="notice"><%= notice %></p>

<p>
  <strong>Executive summary:</strong>
  <%= @report.executive_summary %>
</p>

<%= link_to "create wizard", report_report_wizard_index_path(@report) %>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
