<p id="notice"><%= notice %></p>


  <%= @report.project_name %>
  <%= @report.executive_summary %>
  <%= @report.executive_summary %>

<%= link_to "update report", report_report_wizard_index_path(@report) %>

<%= link_to 'Edit', report_report_wizard_index_path(@report) %> |
<%= link_to 'Back', reports_path %>
